* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bolder;
  font-family: "New Amsterdam", sans-serif;
  letter-spacing: 1.1px;
}

body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #312e39;
}

.screen {
  background-color: lightgray;
  border: 4px solid black;
}

input[type=button] {
  background-color: black;
  color: white;
}

.light-blue {
  color: #75E6FF;
}

.light-red {
  color: #FF9595;
}

.player-status {
  color: white;
}

#status-bar, #info {
  background-color: black;
}

.player-bar {
  background-color: white;
}

.life {
  background-color: red;
}

#message {
  color: white;
}

#text {
  background-color: #000000;
}

#animation {
  background-color: #000000;
}

.emphasis-gold {
  color: rgb(223, 223, 0);
}

.emphasis-green {
  color: rgb(54, 190, 0);
}

.emphasis-red {
  color: rgb(175, 2, 2);
}

.emphasis-orange {
  color: rgb(226, 141, 43);
}

.emphasis-light-orange {
  color: rgb(253, 197, 133);
}

.emphasis-light-red {
  color: rgb(230, 88, 88);
}

#initial-menu p {
  color: white;
}

#game-over h1 {
  color: #FF0000;
  -webkit-text-stroke: 3px white;
}

#q {
  background-image: url("../assets/image/items/q.png");
}

#w {
  background-image: url("../assets/image/items/w.png");
}

#e {
  background-image: url("../assets/image/items/e.png");
}

#a {
  background-image: url("../assets/image/items/a.png");
}

#s {
  background-image: url("../assets/image/items/s.png");
}

#u {
  background-image: url("../assets/image/items/u.png");
}

#i {
  background-image: url("../assets/image/items/i.png");
}

#o {
  background-image: url("../assets/image/items/o.png");
}

#k {
  background-image: url("../assets/image/items/k.png");
}

#l {
  background-image: url("../assets/image/items/l.png");
}

.screen {
  width: 800px;
  height: 540px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-image: url("../assets/image/menu.png");
  box-sizing: content-box;
}

#mode-menu, #name-menu, #game, #game-over {
  display: none;
}

#initial-menu {
  display: flex;
}
#initial-menu p {
  font-size: 20px;
  font-family: "Squada One", cursive;
}

#game #status-bar {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}
#game #status-bar .player-info {
  width: 40%;
}
#game #status-bar .player-info #player-status-two {
  text-align: end;
}
#game #status-bar .player-info .player-bar {
  display: flex;
  margin-top: 5px;
  width: 100%;
  height: 10px;
}
#game #status-bar .player-info .player-bar .life {
  width: 100%;
  height: 10px;
}
#game #status-bar .player-info #player-two-bar {
  justify-content: end;
}
#game #content {
  display: flex;
  width: 100%;
  height: 390px;
  background-image: url("../assets/image/content.png");
  align-items: center;
  justify-content: center;
}
#game #content .table-sections {
  height: 300px;
}
#game #content #left-table, #game #content #right-table {
  width: 195px;
}
#game #content #mid-table {
  width: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#game #content .cards {
  display: flex;
  height: 300px;
  gap: 10px;
}
#game #content #right-cards {
  justify-content: end;
  align-items: end;
}
#game #content .card {
  width: 26px;
  height: 53px;
  background-repeat: no-repeat;
}
#game #info {
  width: 100%;
  height: 100px;
}
#game #info #text {
  width: 100%;
  height: 40px;
  padding: 10px;
}
#game #info #text #message {
  font-size: 18px;
}
#game #info #animation {
  width: 100%;
  height: 60px;
}

#game-over {
  background-image: url("../assets/image/game-over.png");
  border: 0px;
}
#game-over h1 {
  font-family: "Black Han Sans", sans-serif;
  letter-spacing: 5px;
  font-size: 50px;
}

input {
  width: 120px;
  height: 40px;
  font-size: 15px;
  border: 0;
  text-align: center;
  cursor: pointer;
  font-family: "Squada One", cursive;
}

input[type=text] {
  font-family: Arial, sans-serif;
  letter-spacing: normal;
  cursor: auto;
}

.group-button {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.animation-weak-attack {
  animation: weakAttack 1s step-end forwards;
}

.animation-weak-attack-defend {
  animation: weakAttackDefend 1s step-end forwards;
}

.animation-normal-attack {
  animation: normalAttack 1s step-end forwards;
}

.animation-normal-attack-defend {
  animation: normalAttackDefend 1s step-end forwards;
}

.animation-strong-attack {
  animation: strongAttack 0.8s step-end forwards;
}

.animation-strong-attack-defend {
  animation: strongAttackDefend 0.8s step-end forwards;
}

@keyframes weakAttack {
  0% {
    background-image: url("../assets/image/animations/weak-init.png");
  }
  50% {
    background-image: url("../assets/image/animations/weak-end.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes weakAttackDefend {
  0% {
    background-image: url("../assets/image/animations/weak-init.png");
  }
  50% {
    background-image: url("../assets/image/animations/weak-defend.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes normalAttack {
  0% {
    background-image: url("../assets/image/animations/normal-init.png");
  }
  50% {
    background-image: url("../assets/image/animations/normal-end.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes normalAttackDefend {
  0% {
    background-image: url("../assets/image/animations/normal-init.png");
  }
  50% {
    background-image: url("../assets/image/animations/normal-defend.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes strongAttack {
  0% {
    background-image: url("../assets/image/animations/strong-init.png");
  }
  50% {
    background-image: url("../assets/image/animations/strong-end.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes strongAttackDefend {
  0% {
    background-image: url("../assets/image/animations/strong-init.png");
  }
  50% {
    background-image: url("../assets/image/animations/strong-defend.png");
  }
  100% {
    background-image: none;
  }
}
.animation-max-critical-chance {
  animation: maxCriticalChance 3s normal forwards;
}

.animation-min-critical-chance {
  animation: minCriticalChance 3s normal forwards;
}

.animation-increase-critical-chance {
  animation: increaseCriticalChance 3s normal forwards;
}

.animation-decrease-critical-chance {
  animation: decreaseCriticalChance 3s normal forwards;
}

.animation-increase-base-damage {
  animation: increaseBaseDamage 3s normal forwards;
}

.animation-increase-enemy-base-damage {
  animation: increaseEnemyBaseDamage 3s normal forwards;
}

.animation-increase-life {
  animation: increaseLife 3s normal forwards;
}

.animation-decrease-life {
  animation: decreaseLife 3s normal forwards;
}

.animation-increase-max-life {
  animation: increaseMaxLife 3s normal forwards;
}

.animation-decrease-max-life {
  animation: decreaseMaxLife 3s normal forwards;
}

.animation-defense-breaker {
  animation: defenseBreaker 3s normal forwards;
}

.animation-defense {
  animation: defense 3s normal forwards;
}

@keyframes maxCriticalChance {
  2% {
    background-image: url("../assets/image/animations/maxCriticalChance.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes minCriticalChance {
  2% {
    background-image: url("../assets/image/animations/minCriticalChance.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes increaseCriticalChance {
  2% {
    background-image: url("../assets/image/animations/increaseCriticalChance.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes decreaseCriticalChance {
  2% {
    background-image: url("../assets/image/animations/decreaseCriticalChance.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes increaseBaseDamage {
  2% {
    background-image: url("../assets/image/animations/increaseBaseDamage.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes increaseEnemyBaseDamage {
  2% {
    background-image: url("../assets/image/animations/increaseEnemyBaseDamage.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes increaseLife {
  2% {
    background-image: url("../assets/image/animations/increaseLife.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes decreaseLife {
  2% {
    background-image: url("../assets/image/animations/decreaseLife.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes increaseMaxLife {
  2% {
    background-image: url("../assets/image/animations/increaseMaxLife.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes decreaseMaxLife {
  2% {
    background-image: url("../assets/image/animations/decreaseMaxLife.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes defenseBreaker {
  2% {
    background-image: url("../assets/image/animations/breakDefense.png");
  }
  100% {
    background-image: none;
  }
}
@keyframes defense {
  2% {
    background-image: url("../assets/image/animations/defense.png");
  }
  100% {
    background-image: none;
  }
}

/*# sourceMappingURL=style.css.map */
