#q{
    background-image: url("../assets/image/items/q.png");
}

#w{
    background-image: url("../assets/image/items/w.png");
}

#e{
    background-image: url("../assets/image/items/e.png");
}

#a{
    background-image: url("../assets/image/items/a.png");
}

#s{
    background-image: url("../assets/image/items/s.png");
}

#u{
    background-image: url("../assets/image/items/u.png");
}

#i{
    background-image: url("../assets/image/items/i.png");
}

#o{
    background-image: url("../assets/image/items/o.png");
}

#k{
    background-image: url("../assets/image/items/k.png");
}

#l{
    background-image: url("../assets/image/items/l.png");
}