.screen{
    background-color: lightgray;
}

input[type = "button"]{
    background-color: red;
    color: white;
}

.light-blue{
    color: #75E6FF;
}

.light-red{
    color: #FF9595;
}

.player-status{
    color: white;
}

#status-bar, #info{
    background-color: black;
}

.player-bar{
    background-color: white;
}

.life{
    background-color: red;
}

#message{
    color: white;
}

#text{
    background-color: #000000;
}

#animation{
    background-color: #000000;
}