.screen{
    background-color: lightgray;
}

input[type = "button"]{
    background-color: red;
    color: white;
}

.light-blue{
    color: #75E6FF;
}

.light-red{
    color: #FF9595;
}

.player-status{
    color: white;
}

#status-bar, #info{
    background-color: black;
}

.player-bar{
    background-color: white;
}

.life{
    background-color: red;
}

#message{
    color: white;
}

#text{
    background-color: #000000;
}

#animation{
    background-color: #000000;
}

.emphasis-gold{
    color: rgb(223, 223, 0);
}

.emphasis-green{
    color: rgb(54, 190, 0);
}

.emphasis-red{
    color: rgb(175, 2, 2);
}

.emphasis-orange{
    color: rgb(226, 141, 43);
}

.emphasis-light-orange{
    color: rgb(253, 197, 133);
}

.emphasis-light-red{
    color: rgb(230, 88, 88);
}